<br>
<br>
<div class="form_wrapper">
<form class="form" method="post" action="/a-local-shop/<%= @all_precious_things.id %>">
  <label for="name-field">Name: </label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @all_precious_things.name %>"
  />
<br>
  <label for="description-field">Description: </label>
  <input
  type="text"
  name="description"
  id="description-field"
  value="<%= @all_precious_things.description %>"
  />
<br>
  <label for="stock-field">Stock: </label>
  <input
  type="number"
  name="stock_quantity"
  id="stock-field"
  value="<%= @all_precious_things.stock_quantity() %>"
  />
<br>
  <label for="cost-field">Buying cost: </label>
  <input
  type="number"
  name="buying_cost"
  id="cost-field"
  value="<%= @all_precious_things.buying_cost() %>"
  />
<br>
  <label for="price-field">Selling price: </label>
  <input
  type="number"
  name="selling_price"
  id="price-field"
  value="<%= @all_precious_things.selling_price() %>"
  />
<br>
  <label for="source_id-selection">Source: </label>
  <select name="source_id" id="source_id-selection">
  <option
  value="<%= @all_precious_things.source_id %>"
  <%= "selected" if @all_precious_things.source_id == 1 %>
  >Non-local corpse</option>
  <option
  value="<%= @all_precious_things.source_id %>"
  <%= "selected" if @all_precious_things.source_id == 2 %>
  >The attic</option>
  <option
  value="<%= @all_precious_things.source_id %>"
  <%= "selected" if @all_precious_things.source_id == 3 %>
  >Royston Vasey new road dig site</option>
</select>
<br>


  <input type='submit' value="Change this precious">
</form>
</div>
