<form class="form" method="post" action="/a-local-shop/<%= @all_precious_things.id %>">
  <fieldset>
  <label for="name-field"><legend>Name: </legend></label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @all_precious_things.name %>"
  />

  <label for="description-field"><legend>Description: </legend></label>
  <input
  type="text"
  name="description"
  id="description-field"
  value="<%= @all_precious_things.description %>"
  />

  <label for="stock-field"><legend>Stock: </legend></label>
  <input
  type="number"
  name="stock_quantity"
  id="stock-field"
  value="<%= @all_precious_things.stock_quantity() %>"
  />

  <label for="cost-field"><legend>Buying cost: </legend></label>
  <input
  type="number"
  name="buying_cost"
  id="cost-field"
  value="<%= @all_precious_things.buying_cost() %>"
  />

  <label for="price-field"><legend>Selling price: </legend></label>
  <input
  type="number"
  name="selling_price"
  id="price-field"
  value="<%= @all_precious_things.selling_price() %>"
  />

  <label for="source_id-selection"><legend>Source: </legend></label>
  <select name="source_id" id="source_id-selection">
  <option
  value="<%= @all_precious_things.source_id %>"
  <%= "selected" if @all_precious_things.source_id == 1 %>
  >Non-local corpse</option>
  <option
  value="<%= @all_precious_things.source_id %>"
  <%= "selected" if @all_precious_things.source_id == 2 %>
  >The attic</option>
  <option
  value="<%= @all_precious_things.source_id %>"
  <%= "selected" if @all_precious_things.source_id == 3 %>
  >Royston Vasey new road dig site</option>
</select>


  <legend><input type='submit' value="Change this precious"></legend>
  </fieldset>
</form>
