<div id="precious-things-wrapper">
  <% @all.each do |thing| %>
<table style="text-align: center; table-layout: fixed; width:100%">
  <tr>
    <td><%= thing.name %></td>
    <td><%= thing.description %></td>
    <td><%= thing.stock_quantity %> <%= precious_thing.stock_warning %></td>
    <td><%= thing.buying_cost %></td>
    <td><%= thing.selling_price %></td>
    <td><%= thing. %></td>
  </tr>
</table>
<% end %>
</div>
