<h1><%= @all_precious_things.name %></h1>

<h2>Description: <%= @all_precious_things.description  %></h2>
<h2>Stock: <%= @all_precious_things.stock_quantity %></h2>
<h2>Cost: <%= @all_precious_things.buying_cost %></h2>
<h2>Price: <%= @all_precious_things.selling_price  %></h2>

<a href="/a-local-shop/<%= @all_precious_things.id %>/edit"><h1>Change this precious</h1></a>
<br>
<form class="button" action="/a-local-shop/<%= @all_precious_things.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
