<div class="precious_show">
  <ul>
    <il><h1><%= @all_precious_things.name %></h1></il>

    <il>Description: <%= @all_precious_things.description  %></il>
    <il>Stock: <%= @all_precious_things.stock_quantity %></il>
    <il>Cost: <%= @all_precious_things.buying_cost %></il>
    <il>Price: <%= @all_precious_things.selling_price  %></il>

    <il><a href="/a-local-shop/<%= @all_precious_things.id %>/edit">Change this precious</a></il>
    <br>
    <il><form class="button" action="/a-local-shop/<%= @all_precious_things.id %>/delete" method="POST"><input type="submit" value="Delete"></form></il>
  </ul>
<div>
